body{
    background-color: #ffb200;
    color: black;
    margin: 0%;
}
header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    flex-wrap: wrap;
    color:#ffb200;
    margin: 0 auto  ;
}
h1{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h2{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.h1:hover{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img{
    width: 60%;
    height: 60%;
    padding: 10px;
}
ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: medium;
}
form {
    width: 100%;
    margin: 70px;
    border: 1px solid;
    border-radius: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    font-weight: bold;
}
.tituloform{
    text-align:center;
    color: #ffb200;
}   
form div + div {
    margin-top: 1em;
}
.field{
    width: 95%;
    background-color: rgba(128, 128, 128, 0.144);
    border-radius: 5px;
    justify-content: center;
    position:fixed center;
    padding: 5px;
    margin-left: 5px;
    border-color: #ffb200;
}
textarea::placeholder{
    color: white;
    text-align: center;  
}    
.button {
    padding: 10px;
    background-color: black;
    color:#ffb200;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 5px;
    height: 40px;
    margin: 3px;
    border-color: #ffb200;
}
#div_submit{
    text-align: center;
}
.float-child {
    width: 44%;
    float:left;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
} 
.black-div {
    width: 44%;
    float:left;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.float-container{
    width: 90%;
    border: black;
    padding: 0%;
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background: black;
    color:#ffb200
}
